:root {
	--base: #fff;
	--base-contrast: #000;

	--main-100: #4e4e4e;
	--main-200: #333;
	--main-300: #272525;

	--secondary-100: #f9f9f9;
	--secondary-200: #f0f0f0;
	--secondary-300: #e2e2e2;
	--secondary-400: #aaaaaa;
	--secondary-500: #777777;
	--secondary-600: #5a5a5a;

	--accent-100: #fffd00;
	--accent-200: #fffe73;
	--accent-300: #fffe73;
	--accent-400: #bfbe30;

	--grey-100: #f9f9f9;
	--grey-200: #f0f0f0;
	--grey-300: #e2e2e2;
	--grey-400: #aaaaaa;
	--grey-500: #777777;
	--grey-600: #5a5a5a;

	--button-box-shadow: 0px 1px 3.9px 0px rgba(113, 113, 113, 0.25);

	--golden-gradient: linear-gradient(90deg,
			#878e5f 7.13%,
			#c6d85c 54.03%,
			#878e5f 100%);

	--p-1: 4px;
	--p-2: 8px;
	--p-3: 16px;
	--p-4: 24px;
	--p-5: 32px;
	--p-6: 40px;
	--p-7: 48px;
	--p-8: 56px;
	--p-9: 64px;
	--p-10: 72px;

	--br-1: 4px;
	--br-2: 6px;
	--br-3: 8px;
	--br-4: 12px;
	--br-5: 14px;
	--br-6: 16px;
	--br-7: 24px;

	--base-transition-time: 0.3s;

	--icon-size: 24px;

	--popup-shadow: 0 4px 5px 0 rgba(90, 90, 90, 0.15);
}

[data-theme='dark'] {
	--base: #000;
	--base-contrast: #fff;

	--main-100: #4e4e4e;
	--main-200: #333;
	--main-300: #272525;

	--secondary-100: #f9f9f9;
	--secondary-200: #333;
	--secondary-300: #272525;
	--secondary-400: #aaaaaa;
	--secondary-500: #777777;
	--secondary-600: #5a5a5a;

	--accent-100: #fffd00;
	--accent-200: #fffe73;
	--accent-300: #fffe73;
	--accent-400: #bfbe30;

	--grey-100: #f9f9f9;
	--grey-200: #f0f0f0;
	--grey-300: #e2e2e2;
	--grey-400: #aaaaaa;
	--grey-500: #777777;
	--grey-600: #5a5a5a;

	--button-box-shadow: 0px 1px 3.9px 0px rgba(113, 113, 113, 0.25);

	--golden-gradient: linear-gradient(90deg,
			#878e5f 7.13%,
			#c6d85c 54.03%,
			#878e5f 100%);

	--p-1: 4px;
	--p-2: 8px;
	--p-3: 16px;
	--p-4: 24px;
	--p-5: 32px;
	--p-6: 40px;
	--p-7: 48px;
	--p-8: 56px;
	--p-9: 64px;
	--p-10: 72px;

	--br-1: 4px;
	--br-2: 6px;
	--br-3: 8px;
	--br-4: 12px;
	--br-5: 14px;
	--br-6: 16px;
	--br-7: 24px;

	--base-transition-time: 0.3s;

	--icon-size: 24px;

	--popup-shadow: 0 4px 5px 0 rgba(90, 90, 90, 0.15);
}