:root {
	--black: #000;
	--white: #fff;

	--accent-200: #eefae7;
	--accent-300: #eefad1;
	--accent-400: #eefabc;
	--accent-500: #eefaa5;
	--accent-600: #eefa7a;
	--accent-700: #dce687;
	--accent-800: #c3d701;

	--gray-100: #f9f9f9;
	--gray-200: #f6f6f6;
	--gray-300: #f0f0f0;
	--gray-400: #e2e2e2;
	--gray-500: #cfcfcf;
	--gray-600: #aaaaaa;
	--gray-700: #777777;
	--gray-800: #5a5a5a;

	--button-box-shadow: 0px 1px 3.9px 0px rgba(113, 113, 113, 0.25);

	--golden-gradient: linear-gradient(90deg,
			#878e5f 7.13%,
			#c6d85c 54.03%,
			#878e5f 100%);

	--p-1: 4px;
	--p-2: 8px;
	--p-3: 16px;
	--p-4: 24px;
	--p-5: 32px;
	--p-6: 40px;
	--p-7: 48px;
	--p-8: 56px;
	--p-9: 64px;
	--p-10: 72px;

	--br-1: 4px;
	--br-2: 6px;
	--br-3: 8px;
	--br-4: 12px;
	--br-5: 14px;
	--br-6: 16px;
	--br-7: 24px;

	--base-transition-time: 0.3s;

	--icon-size: 24px;

	--popup-shadow: 0 4px 5px 0 rgba(90, 90, 90, 0.15);
}

[data-theme="light"] {
	--main: var(--white);
	--secondary: var(--black);

	--main-100: #f9f9f9;
	--secondary-100: #333;

	--main-200: #f6f6f6;
	--secondary-200: #191919;

	--main-300: #e2e2e2;
	--secondary-300: #242424;

	--main-400: #cfcfcf;
	--secondary-400: #282828;

	--main-500: #777777;
	--secondary-500: #2c2c2c;

	--main-600: #5a5a5a;
	--secondary-600: #464444;

}

[data-theme='dark'] {
	--main: var(--black);
	--secondary: var(--white);

	--main-100: #333;
	--secondary-100: #f9f9f9;

	--main-200: #191919;
	--secondary-200: #f6f6f6;

	--main-300: #242424;
	--secondary-300: #e2e2e2;

	--main-400: #282828;
	--secondary-400: #cfcfcf;

	--main-500: #2c2c2c;
	--secondary-500: #777777;

	--main-600: #464444;
	--secondary-600: #5a5a5a;
}